<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css"/>
         <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <div class="showcase">  <video src="weather_video.mp4" muted loop autoplay></video>
        </div>
            <article class="widget">

                <form class="weatherLocation"><input placeholder="Enter location..." type = "text" id="data" /><button>Search</button>
                </form>
                <div class="clear"><button onclick=
            "document.getElementById(
             'data').value = ''">Clear location</button></div>
                <div class="weatherIcon"<i class="wi wi-day-cloudy"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
                
            </article>
        </div>
        <script src="js/app.js"></script> <!-- absolute path -->
    </body>
</html>